{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
    <link rel="stylesheet" href="{% static 'bootstrap-icons/bootstrap-icons.css'%}" />
    <title>NASIMS</title>
  </head>
  <body>
    <header class="header">
      <div class="header1">
        <div class="head">
          <h4>
            Federal Ministry of Humanitarian Affairs and Disaster Management
          </h4>
        </div>
        <nav class="nav-bar">
          <ul class="nav-list">
            <li><a href="">Home</a></li>
            <li><a href="">Account</a></li>
            <li><a href="">About</a></li>

            <li class="login-button">
              <a href="/login"><button>Login</button></a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="header2">
        <button>Drop</button>
      </div>
    </header>

    <main class="main">
      <div class="content1">
        <div class="content1-text">
          <div class="content1-text-logo">
            <img src="../static/images/logo.jpg" alt="" />
          </div>

          <div class="content1-text-text">
            <span> Welcome to the</span>
            <h2>
              National Social Investment Management System (NASIMS) Portal
            </h2>

            <p>
              The National Social Investment Management System (NASIMS) is the
              central management platform for the administration and
              coordination of Social Investment Programmes under the Federal
              Ministry of Humanitarian Affairs, Disaster Management and Social
              Development.
            </p>
          </div>
        </div>

        <div class="content1-img"></div>
      </div>

      <!-- covid19 -->
      <div class="readmore">
        <p>Read more about our response to Covid-19 pandemic</p>
      </div>

      <!----begining of content2-->
      <div class="content2">
        <div class="content2-img"></div>

        <div class="content2-text">
          <h2>
            Welcome to the National Social Investment Management System (NASIMS)
          </h2>

          <p>
            <a href="/"
              >The Federal Ministry of Humanitarian Affairs, Disaster Management
              and Social Development
            </a>
            was established on Wednesday August 21st, 2019 by an Executive
            pronouncement by the President and Commander in Chief of the Armed
            Forces of Nigeria, H.E., Muhammadu Buhari GCFR at the inauguration
            of Ministers for the Federal Republic of Nigeria. Under My
            leadership as Minister, the Ministry will position itself in light
            of the prevailing Humanitarian situation in the country through its
            Vision, Mission and Core values to promote Human dignity and
            Integration of basic Humane benevolence and compassion in the
            treatment of all Nigerians
          </p>

          <span
            >Sadiya Umar Farouq <br />
            Honorable Minister
          </span>
        </div>
      </div>

      <!-- section3 -->
      <div class="content3">
        <div class="content3-img"></div>

        <div class="content3-text">
          <span>About Us</span>
          <h2>
            Providing efficient, effective, and coordinated humanitarian
            response to Nigerians.
          </h2>

          <p>
            The National Social Investment Program of Nigeria is a social
            welfare initiative created by the Federal government of Nigeria in
            2015 under the direction of the National Social Investment Office.
            The Program was created to ensure a more equitable distribution of
            resources to vulnerable populations, including children, youth, and
            women. Under President Muhammadu Buhari the office has created four
            programs to address poverty and help increase economic development.
          </p>

          <button>Read More</button>
        </div>
      </div>

      <!--section 4-->
      <div class="content4">
        <div class="content4-head">
          <h2>Our Programmes</h2>
          <p>
            Our programmes are specifically designed to empower, train and
            uplift millions of abandoned Nigerians in every part of the country.
          </p>
        </div>

        <div class="content4-body">
          <div class="content4-body1">
            <div class="content4-body1-img">
              <img src="../static/images/money.jpg" alt="" />
            </div>

            <div class="content4-body1-text">
              <h2>Conditional Cash Transfer (CCT)</h2>
              <p>
                Nigeria's Conditional Cash Transfer program provides targeted
                cash transfers to the most vulnerable households with the
                long-term goal of lifting millions out of poverty.
              </p>
            </div>

            <div class="content4-btn">
              <button class="apply">Apply Now</button>
              <button class="learn">Learn More</button>
            </div>
          </div>

          <div class="content4-body2">
            <div class="content4-body1-img">
              <img src="../static/images/mama.jpg" alt="" />
            </div>

            <div class="content4-body1-text">
              <h2>Government Enterprise and Empowerment Program (GEEP)</h2>
              <p>
                The Government Enterprise and Empowerment Program was
                established to provide financial support and training to
                businesses and entrepreneurs at the bottom of the financial
                pyramid.
              </p>
            </div>

            <div class="content4-btn">
              <button class="apply">Apply Now</button>
              <button class="learn">Learn More</button>
            </div>
          </div>
        </div>
      </div>

      <!-- content5 -->

      <div class="content5">
        <div class="content5-head">
          <h3>Latest News</h3>
          <p>Keep up with the latest updates about programmes and events</p>
        </div>

        <div class="content5-body">
          <div class="content5-body1">
            <div class="content5-body1-img">
              <img src="../static/images/boy.jpg" alt="" />
            </div>

            <div class="content5-body1-text">
              <h3>N-Power Batch C</h3>
              <p><span>June 25,</span> 2020</p>
              <p>
                All empower batch c applicants are expected to update their
                profile and take test for possible shortlisting...
              </p>
            </div>
          </div>

          <div class="content5-body1">
            <div class="content5-body1-img">
              <img src="../static/images/g.jpg" alt="" />
            </div>

            <div class="content5-body1-text">
              <h3>N-Power Customer Care</h3>
              <p><span>June 25,</span> 2020</p>
              <p>
                All enquires and complains should be channeled through the
                 N-Power customer care line. Details are as follows:
              </p>
            </div>
          </div>

          <div class="content5-body1">
            <div class="content5-body1-img">
              <img
                src="../static/images/lap.jpg"alt=""/>
            </div>

            <div class="content5-body1-text">
               <h3>NASIMS Test Portal</h3>
              <p><span>June 25,</span> 2020</p>
              <p>
               Please make sure your records are fully updated on
                the NASIMS portal before taking this test...
              </p>
              
            </div>
            </div>


          </div>

          <div class="content5-btn"><button>News Page</button></div>
        </div>

        
      </div>

      <!-- content6 -->
      <div class="content6">
        <h4>Be the first to know</h4>
        <h2>Follow us on our social media platforms for all the latest updates and applications news</h2>
        <i class="bi bi-facebook"></i>
        <i class="bi bi-twitter"></i>
        <i class="bi bi-instagram"></i>
      </div>

      <!-- content7 -->
      <div class="content7">
        <h3>Got Questions?</h3>
        <p>For enquiries, complaints or requests, feel free to reach out to us.</p>
        <button>Contact Us</button>
      </div>

      <!-- content8 -->
      <div class="content8">
        <ul>
          <li><a href="">Apply</a></li>
          <li><a href="">About</a></li>
          <li><a href="">News</a></li>
          <li><a href="">Contact</a></li>
        </ul>

        <i class="bi bi-facebook"></i>
        <i class="bi bi-twitter"></i>
        <i class="bi bi-instagram"></i>

        <p>Copyright 2023. Federal Ministry of Humanitarian Affairs, Disaster Management and Social Development. All Rights Reserved.</p>
      </div>
    </main>
  </body>
</html>
